.cards {
    margin-top: 15vh;
}
.cards_container {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 600px) {
    .cards_container {
        flex-direction: column;
        align-items: center;
    }
}
