.card_item {
    width: 400px;
}
.cards_wrapper {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.cards_img {
    overflow: hidden;
}
.cards_img img {
    width: 100%;
    object-fit: cover;
    transition: 0.3s ease-in;
}
.cards_img:hover img {
    transform: scale(1.1);
}
.cards_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards_item_text {
    font-size: 20px;
    font-weight: 600;
}
.cards_item_price {
    font-size: 16px;
    color: #808080;
    font-weight: 500;
}
.cards_item_details {
    font-size: 14px;
    margin-top: 10px;
    text-align: justify;
    color: #000000be;
}
