.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background: #024d4d;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
.navbar_brand {
    font-size: 24px;
    font-weight: 600;
    margin-left: 3rem;
}
.brand {
    text-decoration: none;
    color: #fff;
}
.burger {
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    display: none;
    color: #fff;
    margin-right: 3rem;
}
.nav_list {
    display: flex;
    list-style: none;
    margin-right: 3rem;
}
.nav_list li {
    padding: 15px;
}
.list_item {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
}
.list_item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background: rgb(0, 160, 53);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.list_item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 800px) {
    .burger {
        display: block;
    }
    .nav_list {
        position: fixed;
        width: 100%;
        flex-direction: column;
        top: 8vh;
        align-items: center;
        background: #024d4d;
        transform: scaleY(0);
        transform-origin: top;
        transition: 0.3s;
    }
    .nav_list.active {
        transform: scaleY(1);
    }
}
